body{

    background:#f5f7fa;

}

.dashboard-card{

    background:white;

    border-radius:16px;

    padding:20px;

    box-shadow:0 4px 12px rgba(0,0,0,.08);

    text-align:center;

}

.dashboard-card h5{

    color:#666;

    margin-bottom:10px;

}

.dashboard-card h2{

    font-size:40px;

    font-weight:bold;

}

.success{

    border-left:8px solid #198754;

}

.warning{

    border-left:8px solid #ffc107;

}

.danger{

    border-left:8px solid #dc3545;

}
